.header__logo {
   background-size: contain;
   background-repeat: no-repeat;
   width: 142px;
   height: 33px;
   display: inline-block;
   transition: 0.3s ease-in-out;
}

.header__logo:hover {
   opacity: 0.8;
}

@media (max-width: 620px) {
   .header__logo {
      margin-left: 27px;
      width: 104px;
      height: 25px;
   }
}
